body {
  background: #181818;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* nav bar and its content */
nav {
  background: #292929;
  min-height: 5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

span {
  display: block;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 100%;
  gap: 1em;
}

.main .left {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1em;
}

.left iframe {
  width: 100%;
  max-height: 70vh;
  aspect-ratio: 16/9;
}

.first-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1rem;
}

.hashtag {
  color: #3995ff;
  font-size: 1em;
}

.title {
  font-size: 1.5em;
}

.interactive-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.interactive-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  list-style-type: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* second block start here */
.second-block {
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.profile-and-rings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  img {
    margin-top: 0.5rem;
  }

  .user-name {
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
}

.sub {
  color: gray;
}

.main .right {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #000;
}

.main img {
  max-width: 100%;
  height: 100%;
}

.description-content {
  margin-left: 5rem;
  line-height: 1.5em;
}
