body {
    background: #000;
    color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 0;
    border: 0;
    margin: 0;
    height: 100vh;
    align-items: center;
    gap: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* nav bar and its content */

nav {
    background: rgb(41, 41, 41);
    min-height: 5em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    width: 90%;
    height: 100%;
    gap: 1em;
}

.main .left {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.left iframe {
    width: 100%;
    max-height: 70vh;
    aspect-ratio: 16/9;

}

.first-block {
    display: flex;
    flex-direction: column;
}

.hashtag {
    color: rgb(57, 149, 255);
    font-size: 1em;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.interactive-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.interactive-bar ul {
    display: flex;
    gap: 1em;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

/* second block start here */

.second-block {
    border-top: 1px solid #555;
    display: flex;

}

.main .right {
    flex: 1;
    background: #000;
}
